    <% @featured.in_groups_of(2, false).each do |item1, item2| %>
      <div class="row">
        <a href="<%= message_path(item1) %>">
         <div class="col-md-6 col-sm-6 fh5co-feature-item text-center shadow-lg">

          <div class="fh5co-feature-icon <%=item1.category%>">
              <p class="text-center"><%= link_to t('messages.read_more'), item1, class: "btn btn-primary btn-sm" %></p>
            <% if current_user.try(:admin?) %>
              <p class="text-center"><%= link_to 'Edit this message', edit_message_path(item1), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this message', item1, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <% end %>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
          </div>
        </a>
				<div class="clearfix visible-sm-block"></div>
          <!-- item2 -->
        <% if item2 %>
        <a href="<%= message_path(item2) %>">
          <div class="col-md-6 col-sm-6 fh5co-feature-item text-center">

              <div class="fh5co-feature-icon <%=item2.category%>">
                <p class="text-center"><%= link_to t('messages.read_more'), item2, class: "btn btn-primary btn-sm" %></p>
              <% if current_user.try(:admin?) %>
                <p class="text-center"><%= link_to 'Edit this message', edit_message_path(item2), class:"btn btn-primary btn-sm" %></p>
                <p class="text-center"><%= link_to 'Delete this message', item2, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
              <% end %>

            </div>
          </a>
          <% end %>
        </div>
      <% end %>