<%
meta title: "Brain Health 4 You - Messages",
     description: "Brain Health 4 You",
     keywords: %w(free html5, free template, free bootstrap, html5, css3, mobile first, responsive)
%>
<% content_for :head do %>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-H8YZWYJK24', {'TID': tid });
    gtag('send','event','eventCategory','eventAction');
  </script>
<% end %>

<!-- START #fh5co-hero -->

<section id="fh5co-feature">
  <!-- START FEATURE 2 -->
  <div class="container">
    <div class="row fh5co-feature-2">

      <div class="col-md-12">
        <h1 class="fh5co-uppercase-heading-lg text-center"><%= Message.model_name.human(count:2) %></h1>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
          <div class="actions">
            <%= link_to 'New Message', new_message_path, class: "btn btn-primary btn-lg btn-block" %>
          </div>
        <% if current_user.try(:admin?) %>
          <div class="actions">
            <%= link_to 'Export Messages to CSV', messages_path(format: "csv"), class: "btn btn-primary btn-lg btn-block"  %>
          </div>
          <div class="fh5co-spacer fh5co-spacer-md"></div>
        <% end %>
      </div>

      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-12">
          <label for="faq" class="sr-only">Search for Messages (t)</label>
          <form id="search" method="GET" action="/<%=params[:locale]%>/messageboards" >
            <div class="col-md-8 form-group">
              <input class="form-control input-lg" type="text" name="search" placeholder="Search for Messages (t)">
            </div>
            <div class="col-md-2 form-group">
              <button id="search-submit" class="form-control btn btn-primary" type="submit">
                <i class="ti-search"></i>
              </button>
            </div>
          </form>
          <form id="reset" method="GET" action="/<%=params[:locale]%>/messageboards" >
            <div class="col-md-2 form-group">
              <input id="reset-submit" class="form-control btn btn-primary" type="submit" value="<%= t('resources.additional.all')%>">
            </div>
          </form>
        </div>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      
  <div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6 shadow-lg fh5co-feature-blurb">

        <% @messages.each do |m| %>
        <a href="<%= message_path(m) %>">
          <span class="fh5co-feature-blurb-icon"><%= image_tag(m.visitor.avatar) %></span>
          <div class="fh5co-feature-blurb-text">
            <h2 class="fh5co-feature-blurb-title h4"><%= m.en_name %></h2>
            <!--<p class="fh5co-feature-blurb-description"><%=m.en_content%></p>-->
            <!--<p class="text-center"><%= link_to t('messages.read_more'), m, class: "btn btn-primary btn-sm" %></p>-->
            <% if current_user.try(:admin?) %> <!-- || @message.tid == @current_user.tid  -->
              <p class="text-center"><%= link_to 'Edit this message', edit_message_path(m), class:"btn btn-primary btn-sm" %></p>
              <p class="text-center"><%= link_to 'Delete this message', m, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %></p>
            <% end %>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
          </div>
          <div class="clearfix visible-sm-block"></div>

          </a>
          <% end %>

      </div>
  </div>


  <% if current_user.try(:admin?) %>
  <div class="col-md-12 Admin-border">
    <h1 class="text=center">Messages Admin View</h1>
    <table class="table table-sm table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">en_name</th>
          <th scope="col">Category</th>
          <th scope="col">TID</th>
          <th scope="col">Tags</th>
          <th scope="col">Archived?</th>
          <th scope="col">Featured?</th>
          <th scope="col">Priority</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @admin_messages.each do |message| %>
          <tr>
            <td><%= message.en_name %></td>
            <td><%= message.category %></td>
            <td><%= message.tid %></td>
            <td><%= message.tags %></td>
            <% if message.archive == true %>
              <td class="archive-border"><%= message.archive %></td>
            <% else %>
              <td><%= message.archive %></td>
            <% end %>
            <% if message.featured == true %>
              <td class="featured-border"><%= message.featured %></td>
            <% else %>
              <td><%= message.featured %></td>
            <% end %>
            <td><%= message.priority %></td>
            <td><%= link_to 'Show', message %></td>
            <td><%= link_to 'Edit', edit_message_path(message) %></td>
            <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>

</section>

<script>
  document.addEventListener("click", function(event){
    if (event.target.id === 'search-submit') {
      gtag ('event', 'form_submit', {
          'form_name': event.target.id,
          'form_destination': event.target.baseURI,
          'TID': tid
      })
    }
    else if (event.target.id === 'reset-submit') {
        gtag ('event', 'form_submit', {
          'form_name': event.target.id,
          'form_destination': event.target.baseURI,
          'TID': tid
      })
    }
  });
  document.addEventListener("submit", function(event){
    if (event.target.id === 'search-submit') {
      gtag ('event', 'form_submit', {
          'form_name': event.target.id,
          'form_destination': event.target.baseURI,
          'TID': tid
      })
    }
  });
</script>
