<p id="notice"><%= notice %></p>

<p>
  <strong>En post:</strong>
  <%= @board.en_post %>
</p>

<p>
  <strong>Ko post:</strong>
  <%= @board.ko_post %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @board.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @board.category %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @board.featured %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @board.archive %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @board.priority %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @board.approved %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
